.answers-section {
  height: 100vh;
  width: 100vw;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 1em;
  gap: 1em;
}

.heading-title {
  font-weight: 300;
  font-size: 2.5em;
  margin-block: 0;
  text-align: left;
  width: 100%;
}

.bold {
  margin-block: 0;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
}

.score-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-radius: 10px;
}

.score-ctn {
  width: 45%;
  justify-content: center;
}

.score {
  margin-block: 0;
  font-size: 5em;
}

.total {
  font-weight: 300;
}

.results-toggle-width {
  width: 60%;
}

.results-toggle-container svg {
  width: 1.75em;
  height: 1.75em;
}

.results-dark-card {
  background-color: #3b4d66;
  color: white;
}

.results-light-card {
  background-color: white;
  color: black;
}

.total-dark {
  color: #abc1e1;
}

.total-light {
  color: #626c7f;
}
