.subject-card {
  display: flex;
  border-radius: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  cursor: pointer;
  border: transparent;
}

.light {
  background: white;
  color: 'black';
}

.dark {
  background: #3b4d66;
  color: white;
}

.start-toggle-width {
  width: 10%;
}

@media only screen and (min-width: 600px) {
  .subject-card {
    font-size: 1.75em;
  }
  .start-toggle-width {
    width: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .title-subject-container {
    display: flex;
  }

  .start-toggle-width {
    width: 3%;
  }
  .subject-cards {
    width: 65%;
    gap: 1.5em;
  }
}
