.toggle-container {
  display: flex;
  width: 10%;
  height: 1.3em;
  border-radius: 15px;
  align-items: center;
  background-color: #a729f5;
}

.toggle {
  width: 10px;
  height: 12px;
  border-radius: 100%;
  margin: 0 0.2em;
  background-color: white;
  border: none;
}

.switch-theme {
  justify-content: flex-end;
}

@media only screen and (min-width: 600px) {
  .toggle-container {
    width: 5%;
    height: 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .toggle-container {
    width: 3%;
  }
}
